<template>
	<div>
		<code>{{ justNames }}</code>
		<ul>
			<li v-for="hero in heros">
				{{ hero.name }}
				<button @click="hero.remove()">X</button>
			</li>
		</ul>
	</div>
</template>

<script>
	export default {
		computed: {
			justNames() {
				return this.heros.map(hero => hero.name);
			}
		},
		data() {
			return {
				heros: this.$collection({
					url: '/api/heros'
				})
			}
		}
	}
</script>